

.container {
  background-color: rgba(1, 1, 1, 0.872);
  padding: 20px;
  margin-top: 40px;
}

.row {
  display flex: ;
  padding-top: 120px;
  margin-bottom: 20px;
  cursor: context-menu;
}



.list-group {
  margin-top: 50px;
  color: rgb(36, 162, 55);
}

#compose-btn {
  margin-top: 10px;
  margin-bottom: 20px;
}

#menu-col {
  display: none;
}

#nav-dropdown {
  display: inline-flexbox;
  color: rgb(0, 0, 0);
}

#reply-buttons {
  margin-top: 10px;
}

@media (min-width 400px) {
  #menu-col {
    display: block;
  +++++++++++++++++++++++
 
}

